a.disabled {
    pointer-events: none;
    color: #ccc;
}

.xcollapse {
    font-size: 13px;
    display: block;
    -webkit-box-shadow: 4px 4px 3px 0 rgba(32, 50, 50, 0.75);
    -moz-box-shadow: 4px 4px 3px 0 rgba(32, 50, 50, 0.75);
    box-shadow: 4px 4px 3px 0 rgba(32, 50, 50, 0.75);
    color: #ffffff;
}

.boxcollapse {
    background-color: #ededed;
    padding: 3px;
}

.separador {
    padding-top: 5px;
    padding-bottom: 10px;
}

#homenav {
    background-color: #0000ff;
}

#inicio {
    /*background-image: url("imagem/looke.jpg");*/
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.shadowbutton {
    -webkit-box-shadow: 4px 4px 3px 0 rgba(32, 50, 50, 0.75);
    -moz-box-shadow: 4px 4px 3px 0 rgba(32, 50, 50, 0.75);
    box-shadow: 4px 4px 3px 0 rgba(32, 50, 50, 0.75);
}

.modal1 {
    position: fixed;
    width: 25%;
    height: 25%;
    min-width: 60%;
    min-height: 60%;
    left: 25%;
    top: 15%;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
}

#loading {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 5%;
    /*background: url("imagem/loading.gif") no-repeat center;*/
    text-align: center;
    padding: 10px;
    font: normal 16px Tahoma, Geneva, sans-serif;
    margin-left: -50px;
    margin-top: -50px;
    z-index: 2;
    overflow: auto;
    color: blue;
}

.modal-dialog {
    position: fixed;
    width: 25%;
    height: 35%;
    min-width: 90%;
    min-height: 60%;
    left: 5%;
    top: 10%;
}

.input-validation-error {
    border-color: #dc3545;
    padding-right: 2.25rem;
    background-repeat: no-repeat;
    background-position: center right calc(2.25rem / 4);
    background-size: calc(2.25rem / 2) calc(2.25rem / 2);
    background-image: url("imagem/x.svg");
}

.field-validation-error {
    color: red;
    font-weight: bold;
}

.bottomRight {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 10%;
    height: 10%;
}

.hero::before {
    background-image: url("imagem/logo150.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: 2px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    z-index: -2;
}

.responsive {
    width: 100%;
    height: 100%;
}

#menuVaral ul {
    padding: 0;
    margin: 0;
    background-color: #EDEDED;
    list-style: none;
}

    #menuVaral ul li {
        display: inline;
    }

        #menuVaral ul li a {
            padding: 2px 10px;
            display: inline-block;
            background-color: #EDEDED;
            color: #333;
            text-decoration: none;
            border-bottom: 3px solid #EDEDED;
        }

            #menuVaral ul li a:hover {
                background-color: #D6D6D6;
                color: #6D6D6D;
                border-bottom: 3px solid #EA0000;
            }

.webgrid-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    width: 100%;
    display: table;
    border: solid 1px #6d6d6d;
    background-color: white;
}

    .webgrid-table td, th {
        border: 1px solid #6d6d6d;
        padding: 3px 7px 2px;
    }

.webgrid-header {
    background-color: #d6d6d6;
    color: #FFFFFF;
    padding-bottom: 4px;
    padding-top: 5px;
    text-align: left;
}

.webgrid-row-style {
    padding: 3px 7px 2px;
}

.webgrid-alternating-row {
    background-color: #ededed;
    padding: 3px 7px 2px;
}