@*<footer>
    <div class="container">
        <div class="row">
            <div class="col-9 ms-12" float-left="">Sacratours 2014/2019</div>
            <div class="col-3 ms-12" float-left="">powered: AgenciaInterativa.NET</div>
        </div>
    </div>
</footer>*@