<div class="text-center footer-basic" style="background-color: rgb(241,247,252);">
    <footer></footer><a href="https://www.agenciainterativa.com.br" style="color: #666;" target="_blank">Powered: AgênciaInterativa.NET</a>
</div>